In [131]:
import pandas as pd 
import numpy as np

In [132]:
df = pd.read_csv('Marketing.csv')
df.head()

,id,c_date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307.37,1210,13,1,4981.0
1,2,2021-02-01,facebOOK_tier2,social,348934,220688,16300.20,1640,48,3,14962.0
2,3,2021-02-01,google_hot,search,89459845,22850,5221.60,457,9,1,7981.0
3,4,2021-02-01,google_wide,search,127823,147038,6037.00,1196,24,1,2114.0
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962.20,2258,49,10,84490.0

In [133]:
df.describe()

,id,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
count,308.000000,3.080000e+02,3.080000e+02,308.000000,308.000000,308.000000,308.000000,3.080000e+02
mean,154.500000,9.605628e+06,5.122475e+06,99321.038377,9739.996753,212.918831,26.113636,1.392512e+05
std,89.056162,2.543040e+07,2.631134e+07,144008.011181,12157.476244,300.459978,42.741288,2.763031e+05
min,1.000000,1.093400e+04,6.670000e+02,169.750000,20.000000,0.000000,0.000000,0.000000e+00
25%,77.750000,1.278230e+05,1.479568e+05,9465.195000,1347.250000,20.750000,3.000000,8.580000e+03
50%,154.500000,3.747540e+05,6.028100e+05,36765.150000,4349.500000,84.000000,9.000000,3.891700e+04
75%,231.250000,4.387490e+06,3.254450e+06,129372.250000,13499.250000,270.500000,29.250000,1.370492e+05
max,308.000000,8.945984e+07,4.199700e+08,880357.000000,61195.000000,1678.000000,369.000000,2.812520e+06

Quick walking through the data:

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             308 non-null    int64
 1   c_date         308 non-null    object
 2   campaign_name  308 non-null    object
 3   category       308 non-null    object
 4   campaign_id    308 non-null    int64
 5   impressions    308 non-null    int64
 6   mark_spent     308 non-null    float64
 7   clicks         308 non-null    int64
 8   leads          308 non-null    int64
 9   orders         308 non-null    int64
 10  revenue        308 non-null    float64
dtypes: float64(2), int64(6), object(3)
memory usage: 26.6+ KB

In [135]:
df.isna().sum()

id               0
c_date           0
campaign_name    0
category         0
campaign_id      0
impressions      0
mark_spent       0
clicks           0
leads            0
orders           0
revenue          0
dtype: int64

In [136]:
df.duplicated().sum()

0

In [137]:
df.nunique()

id               308
c_date            28
campaign_name     11
category           4
campaign_id       11
impressions      301
mark_spent       308
clicks           274
leads            176
orders            88
revenue          265
dtype: int64

Convert date data type:

In [138]:
df['c_date'] = pd.to_datetime(df['c_date'], errors='coerce')

creating day name to see what day do compare to each other:

In [139]:
df['day_name'] = df['c_date'].dt.day_name()

Creating marketing metrics to analyze the data deeper:

Return on marketing investments (ROMI) to see how effective the campaign :

In [140]:
profit = df['revenue'] - df['mark_spent']

df['ROMI'] = profit / df['mark_spent'] * 100

make it integer ,easier to reed:

In [141]:
df['ROMI'] = df['ROMI'].round().astype('Int64')

Click through rate(CTR):
- the percentage of people who clicked at banner

In [142]:
df['CTR'] = (df['clicks'] / df['impressions'] * 100).round(2)

Create two conversions: 
- lead conversion rate: how good my landing page or my offer.
- sales conversion rate: how good my sales process.

In [143]:
df['LCR'] = ((df['leads'] / df['clicks'].replace(0, np.nan)) * 100).round(2)
df['SCR'] = ((df['orders'] / df['leads'].replace(0, np.nan)) * 100).round(2)

AOV (average order value):
- How much money i'm making per order.

In [144]:
df['AOV'] = (df['revenue'] / df['orders']).round(2)

CPC (Click per cost):
- How much i'm paying for each click on my ad.

In [145]:
df['CPC'] = (df['mark_spent'] / df['clicks']).round(2)

CPL (cost per lead):
- How much i'm spending to get one lead.

i have to replace 0 values to nan avoiding any result that will be infinity, because of the formula

In [146]:
df['CPL'] = (df['mark_spent'] / df['leads'].replace(0, np.nan)).round(2)

CAC (Customer Acquisition Cost):
- How much it costs me to acquire one paying customer.

i have to replace 0 values to nan avoiding any result that will be infinity, because of the formula:

In [147]:
df['CAC'] = (df['mark_spent'] / df['leads'].replace(0, np.nan)).round(2)

In [148]:
df.head()

,id,c_date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue,day_name,ROMI,CTR,LCR,SCR,AOV,CPC,CPL,CAC
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307.37,1210,13,1,4981.0,Monday,-32,0.82,1.07,7.69,4981.00,6.04,562.11,562.11
1,2,2021-02-01,facebOOK_tier2,social,348934,220688,16300.20,1640,48,3,14962.0,Monday,-8,0.74,2.93,6.25,4987.33,9.94,339.59,339.59
2,3,2021-02-01,google_hot,search,89459845,22850,5221.60,457,9,1,7981.0,Monday,53,2.00,1.97,11.11,7981.00,11.43,580.18,580.18
3,4,2021-02-01,google_wide,search,127823,147038,6037.00,1196,24,1,2114.0,Monday,-65,0.81,2.01,4.17,2114.00,5.05,251.54,251.54
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962.20,2258,49,10,84490.0,Monday,182,1.00,2.17,20.41,8449.00,13.27,611.47,611.47

In [149]:
df.describe()

,id,c_date,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue,ROMI,CTR,LCR,SCR,AOV,CPC,CPL,CAC
count,308.000000,308,3.080000e+02,3.080000e+02,308.000000,308.000000,308.000000,308.000000,3.080000e+02,308.0,308.000000,308.000000,304.000000,289.000000,308.000000,304.000000,304.000000
mean,154.500000,2021-02-14 12:00:00,9.605628e+06,5.122475e+06,99321.038377,9739.996753,212.918831,26.113636,1.392512e+05,40.746753,0.959318,2.093052,13.073882,4731.537682,11.270162,548.058553,548.058553
min,1.000000,2021-02-01 00:00:00,1.093400e+04,6.670000e+02,169.750000,20.000000,0.000000,0.000000,0.000000e+00,-100.0,0.010000,0.000000,0.000000,452.000000,0.040000,17.760000,17.760000
25%,77.750000,2021-02-07 18:00:00,1.278230e+05,1.479568e+05,9465.195000,1347.250000,20.750000,3.000000,8.580000e+03,-32.0,0.500000,1.887500,9.090000,3135.000000,6.142500,362.510000,362.510000
50%,154.500000,2021-02-14 12:00:00,3.747540e+05,6.028100e+05,36765.150000,4349.500000,84.000000,9.000000,3.891700e+04,10.5,0.695000,2.000000,13.605000,4981.000000,9.715000,497.780000,497.780000
75%,231.250000,2021-02-21 06:00:00,4.387490e+06,3.254450e+06,129372.250000,13499.250000,270.500000,29.250000,1.370492e+05,76.0,1.110000,2.692500,16.670000,5958.000000,15.177500,637.427500,637.427500
max,308.000000,2021-02-28 00:00:00,8.945984e+07,4.199700e+08,880357.000000,61195.000000,1678.000000,369.000000,2.812520e+06,559.0,3.360000,4.550000,33.330000,8980.000000,54.770000,1694.860000,1694.860000
std,89.056162,NaN,2.543040e+07,2.631134e+07,144008.011181,12157.476244,300.459978,42.741288,2.763031e+05,121.76731,0.822311,0.975850,6.545743,2132.456221,8.180994,325.906328,325.906328

# Start do EDA (Exploratory Data Analysis):

How profitable are our marketing efforts overall?

In [150]:
df.groupby('category').agg({
    'impressions' : 'sum',
    'clicks' : 'sum',
    'leads' : 'sum',
    'orders' : 'sum',
    'LCR' : 'mean',
    'SCR' : 'mean',
    'revenue' : 'sum',
    'mark_spent' : 'sum'
}).sort_values(by='revenue', ascending=False)

,impressions,clicks,leads,orders,LCR,SCR,revenue,mark_spent
category,,,,,,,,
influencer,77800724,749973,16939,3014,2.308929,17.525893,21119887.0,8305304.08
social,359285996,1499889,31384,2635,2.017202,11.835854,11911454.0,13798500.91
media,1068337427,420003,10149,1566,2.214643,14.603571,6152960.0,5026674.76
search,72298252,330054,7107,828,2.043929,11.482679,3705065.0,3460400.07

In [151]:
df.groupby('category').agg({
    'ROMI' : 'mean',
    'CPC' : 'mean', 
    'CPL' : 'mean',
    'CAC' : 'mean',
    'AOV' : 'mean'
}).sort_values(by='ROMI', ascending=False)

                  ROMI        CPC         CPL         CAC          AOV
category
influencer  169.964286  11.619464  501.980179  501.980179  6592.786964
media            24.25  10.452500  456.060000  456.060000  3888.777407
search       19.089286  10.878929  534.134643  534.134643  5359.647059
social        7.642857  11.420417  584.254207  584.254207  3999.221484

In [152]:
df.groupby(['category','campaign_name']).agg({
    'impressions' : 'sum',
    'clicks' : 'sum',
    'leads' : 'sum',
    'orders' : 'sum',
    'LCR' : 'mean',
    'SCR' : 'mean',
    'revenue' : 'sum',
    'mark_spent' : 'sum'
}).sort_values(by='revenue', ascending=False)

                                 impressions  clicks  leads  orders       LCR  \
category   campaign_name
influencer youtube_blogger          43688313  450014   9931    1914  2.302857
media      banner_partner         1068337427  420003  10149    1566  2.214643
influencer instagram_blogger        34112411  299959   7008    1100  2.315000
social     instagram_tier1          75136799  269961   6632     758  1.992500
           facebOOK_tier2           69623161  329973   8428     688  2.444643
           facebook_tier1           63044882  239997   3535     474  2.071429
search     google_hot                4628993   90048   1833     281  2.007143
           google_wide              67669259  240006   5274     547  2.080714
social     instagram_tier2         137806768  509992  10374     313  2.101786
           facebook_retargeting       976685   29954    506     108  1.800357
           facebook_lal             12697701  120012   1909     294  1.692500

                                       SCR     revenue  mark_spent
category   campaign_name
influencer youtube_blogger       19.846071  15311433.0  4057936.51
media      banner_partner        14.603571   6152960.0  5026674.76
influencer instagram_blogger     15.205714   5808454.0  4247367.57
social     instagram_tier1       10.728929   4544124.0  2565277.25
           facebOOK_tier2         8.152143   3463306.0  4693870.97
           facebook_tier1        12.117857   2396412.0  2564793.48
search     google_hot            13.615000   2205747.0  1199998.76
           google_wide            9.350357   1499318.0  2260401.31
social     instagram_tier2        2.632500    670460.0  1066153.75
           facebook_retargeting  22.855600    536919.0   266466.22
           facebook_lal          15.852222    300233.0  2641939.24

In [153]:
df.groupby(['category','campaign_name']).agg({
    'ROMI' : 'mean',
    'CPC' : 'mean', 
    'CPL' : 'mean',
    'CAC' : 'mean',
    'AOV' : 'mean'
}).sort_values(by='ROMI', ascending=False)

                                       ROMI        CPC          CPL  \
category   campaign_name
influencer youtube_blogger       306.857143   9.676071   415.158214
social     facebook_retargeting       145.0   9.011429   458.060000
search     google_hot             70.821429  13.193929   668.504643
social     instagram_tier1        64.642857   7.882143   396.585357
influencer instagram_blogger      33.071429  13.562857   588.802143
media      banner_partner             24.25  10.452500   456.060000
social     facebook_tier1         -6.642857  13.657500   645.935714
           facebOOK_tier2             -29.0  13.210714   552.083214
search     google_wide           -32.642857   8.563929   399.764643
social     instagram_tier2            -40.0   1.878214    93.358929
           facebook_lal          -88.142857  22.882500  1374.193333

                                         CAC          AOV
category   campaign_name
influencer youtube_blogger        415.158214  8046.609643
social     facebook_retargeting   458.060000  4984.480000
search     google_hot             668.504643  7937.040000
social     instagram_tier1        396.585357  5960.480000
influencer instagram_blogger      588.802143  5138.964286
media      banner_partner         456.060000  3888.777407
social     facebook_tier1         645.935714  4926.142857
           facebOOK_tier2         552.083214  5009.012692
search     google_wide            399.764643  2881.384615
social     instagram_tier2         93.358929  2019.320000
           facebook_lal          1374.193333  1061.769231

In [154]:
df.groupby('day_name').agg({
    'ROMI' : 'mean',
    'CPC' : 'mean', 
    'CPL' : 'mean',
    'CAC' : 'mean',
    'AOV' : 'mean'
}).sort_values(by='ROMI', ascending=False)

                ROMI        CPC         CPL         CAC          AOV
day_name
Wednesday  51.386364  14.514318  571.141136  571.141136  4730.386591
Friday     44.386364  10.268409  545.400233  545.400233  4790.620000
Thursday   42.727273  10.697045  569.521136  569.521136  4609.000000
Monday     40.772727  10.038636  522.988864  522.988864  4731.650714
Saturday   39.045455  11.936591  536.647674  536.647674  4869.552368
Tuesday    37.977273  10.641591  548.196977  548.196977  4694.025500
Sunday     28.931818  10.794545  542.060930  542.060930  4706.341463

In [155]:
df.groupby(['day_name', 'category']).agg({
    'ROMI' : 'mean',
    'CPC' : 'mean', 
    'CPL' : 'mean',
    'CAC' : 'mean',
    'AOV' : 'mean'
}).sort_values(by='ROMI', ascending=False)

                           ROMI        CPC         CPL         CAC  \
day_name  category
Wednesday influencer    194.875  13.038750  504.826250  504.826250
Saturday  influencer    188.625   9.562500  474.827500  474.827500
Tuesday   influencer    180.875  11.130000  504.438750  504.438750
Monday    influencer     170.75  10.911250  496.512500  496.512500
Sunday    influencer    165.125  11.235000  480.126250  480.126250
Thursday  influencer      157.0  11.422500  498.937500  498.937500
Friday    influencer      132.5  14.036250  554.192500  554.192500
Tuesday   search         53.375  10.237500  538.580000  538.580000
Wednesday media            45.0  11.422500  531.392500  531.392500
Thursday  media           35.25  10.732500  445.057500  445.057500
Monday    search           32.0   8.892500  417.585000  417.585000
Friday    social         30.875   9.703750  549.978696  549.978696
          media            27.0  10.882500  467.490000  467.490000
Sunday    search         26.125   9.530000  467.035000  467.035000
Saturday  media            24.0  12.275000  435.842500  435.842500
Wednesday search          22.75  15.788750  620.426250  620.426250
Tuesday   media            22.5   8.945000  482.060000  482.060000
Thursday  social         19.375  10.603333  612.641667  612.641667
Wednesday social      14.166667  15.096667  583.442500  583.442500
Sunday    media            12.0  10.490000  440.692500  440.692500
Saturday  social            7.5  12.123333  567.579565  567.579565
Monday    social            6.5  10.399583  589.132917  589.132917
Friday    search            5.5   7.887500  562.400000  562.400000
Monday    media             4.0   8.420000  389.885000  389.885000
Thursday  search           2.25  10.235000  572.975000  572.975000
Saturday  search         -8.375  13.581250  559.941250  559.941250
Tuesday   social     -12.208333  10.896250  578.264348  578.264348
Sunday    social     -12.708333  11.120000  607.328696  607.328696

                              AOV
day_name  category
Wednesday influencer  6474.876250
Saturday  influencer  6501.625000
Tuesday   influencer  6728.377500
Monday    influencer  6489.500000
Sunday    influencer  6691.625000
Thursday  influencer  6693.875000
Friday    influencer  6569.630000
Tuesday   search      5501.625000
Wednesday media       3805.250000
Thursday  media       3975.250000
Monday    search      5409.750000
Friday    social      4162.130435
          media       4003.750000
Sunday    search      5669.285714
Saturday  media       3959.247500
Wednesday search      5324.250000
Tuesday   media       3971.500000
Thursday  social      3877.347826
Wednesday social      4105.125000
Sunday    media       3286.000000
Saturday  social      4263.650000
Monday    social      3936.623043
Friday    search      5272.142857
Monday    media       4331.000000
Thursday  search      4992.428571
Saturday  search      5320.000000
Tuesday   social      3701.750000
Sunday    social      3936.272727

In [156]:
df['day_name'].value_counts()

day_name
Monday       44
Tuesday      44
Wednesday    44
Thursday     44
Friday       44
Saturday     44
Sunday       44
Name: count, dtype: int64

# Analysis Results & Suggestions::
- overall should improve call to action in 'social & search' due to lower LCR & SCR.
- good performer campaigns from social: 'facebook_retargeting' & 'instagram_tier1', from search: 'google_hot'. the rest are bad.
- it looks media is cheaper we should make the hook of the ads more appealing to get the target audince to the landing page.
- 'influencer' category especially 'youtube blogger' generate the most ROMI. choosing the right influencer with message that suits to the target audince was good.
- 'social' overall are worst, the message didn't match the audince and goal of the campaigns.
- Days performed well in general, WED was the best of them.